/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
   font-family: Helvetica,'Roboto', sans-serif;
 }



/*Navigation bar*/
.navbar {
  position: fixed;
  border-bottom: 1px solid #ededed;
  width: 100%;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 12%;
    overflow: hidden;
    background-color: #ffffff;
}

.navbar .left {
    float: left;
}
.navbar .right {
    float: right;
}

.navbar li {
  float: left
}

.navbar li a {
    display: block;
    color: #262626;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ededed;
}
.navbar img {
    max-height: 40px;
}
.navbar .prof {
    border-radius: 20px;
    border: 1px solid #e6e6e6;
}

/*username link*/

.username-link {
  font-weight: 800;
}
/*feed*/
.photo-index {
  margin: 0 0 50px;
  max-width: 600px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.feed > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e6e6e6;
}
.user-info .info {
  margin: 0 15px 0 0;
  vertical-align: middle;
}
.user-info .info img {
  margin-right: 10px;
}
.user-info .info img {
  margin-right: 10px;
}
.feed {
  padding-top: 100px;
}
.user-info img {
  max-height: 40px;
  border-radius: 20px;
  border: 1px solid #e6e6e6;
}
.feed-photo img {
  max-width: 600px;
}
